@use "color";
@use "vars";

// export 

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//=====================================================================================
//  Layouts
//=====================================================================================
.content {
  padding: vars.$margin;
  max-width: 1800px;
  margin: auto;
  width: 100%;

  &>.block {
    animation: fadein .5s;
    margin-bottom: vars.$margin;
  }
}

.header {
  top: 0;
  height: 2em;
  padding: .3em;
  border-radius: 0;
  position: sticky;
  text-transform: capitalize;
  
  display: flex;
  justify-content: space-between;
  
  $size: 2em - .3em * 2;
  & > .home {
    display: flex;
    color: color.main();
    animation: fadein .5s .5s both;
    
    & > .logo {
      width: $size;
      height: $size;
      margin-right: .3em;
      animation: logoMoveIn 1s .8s both;

      @keyframes logoMoveIn {
        0% {
          width: 0;
          opacity: 0;
        }
        50% {
          width: $size;
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  & > .nav {
    counter-reset:num -1;
    display: flex;
    gap: 1.2em;
  
    & > a {
      counter-increment:num;
      animation: fadein .5s calc(counter(num) * .5s + .2s) both;
      &:not([target="_blank"]) {
        text-shadow: 0 0 .2em color.black();
        color: color.main();
      }
    }
  }
}

//=====================================================================================
//  Block
//=====================================================================================
:where(.block) {
  padding: 0.2em;
  @include vars.block;

  //padding-less
  &.padless {
    padding: 0;
  }

  //background
  background: color.side-2();

  &> :where(.block) {
    margin: vars.$margin;
    background: color.side-1();
  }
}

//=====================================================================================
//  Image
//=====================================================================================
.image {
  width: calc(50%);
  visibility: hidden;
  margin: vars.$margin auto;

  &[src] {
    animation: fadein .5s;
    visibility: visible;
  }
}

//=====================================================================================
//  Code
//=====================================================================================
.code {
  display: block;
  font-size: .7em;
  white-space: nowrap;
  max-width: 100%;
  word-break: keep-all;
  width: fit-content;
  background: color.bg();
  font-family: monospace;
  margin: vars.$margin auto;
  overflow: auto;
}

.code-inline {
  display: inline-block;
  margin: 0 .2em;
}

//=====================================================================================
//  Button
//=====================================================================================
.button {
  display: block;
  font-size: 1em;
  font-weight: 600;
  padding: .2em .5em;
  margin: vars.$margin auto;
  background: color.side-1();

  &:hover {
    background: color.bg(.8);
  }
}

.button-group {
  display: flex;
  width: fit-content;
  margin: vars.$margin auto;
  background: color.side-1();

  &>.button {
    box-shadow: none;
    margin: 0;
  }
}

//=====================================================================================
//  Shadow
//=====================================================================================
.shadow {
  box-shadow: 0 0 .2em color.black();
}

.shadowMain {
  box-shadow: 0 0 .2em color.main();
}

.textShadow {
  text-shadow: 0 0 .2em color.black();
}

.textShadowMain {
  text-shadow: 0 0 .2em color.main();
}

.dropShadow {
  filter: drop-shadow(0 0 .2em color.black());
}

.dropShadowMain {
  filter: drop-shadow(0 0 .2em color.main());
}