//GENTLE-UI CORE
@use "color";
@use "vars";
// export

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//=====================================================================================
//  Layouts
//=====================================================================================
.header {
  top: 0;
  width: 100%;
  height: 2em;
  padding: .3em;
  z-index: 1000;
  position: sticky;
  border-radius: 0;
  text-transform: capitalize;

  display: flex;
  justify-content: space-between;
  
  $size: 2em - .3em * 2;
  & > .home {
    display: flex;
    color: color.main();
    animation: fadeIn .5s .2s both;
    
    & > .logo {
      width: $size;
      height: $size;
      margin-right: .3em;
      animation: logoMoveIn 1s .8s both;

      @keyframes logoMoveIn {
        0% {
          width: 0;
          opacity: 0;
        }
        50% {
          width: $size;
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  & > .nav {
    display: flex;
    gap: .8em;
  
    & > a {
      animation: fadeIn .5s both;
      animation-delay: calc(var(--t) * .3s + .2s);
      &:not([target="_blank"]) {
        color: color.main();
      }
    }
  }
}

.main {
  padding: vars.$margin;
  max-width: 1000px;
  margin: auto;
  width: 90%;

  &>.block {
    margin-bottom: vars.$margin;
  }
}

//=====================================================================================
//  Block
//=====================================================================================
:where(.block) {
  padding: 0.2em;
  @include vars.block;
  animation: fadeIn .5s;

  //padding-less
  &.padless {
    padding: 0;
  }

  //background
  background: color.side-2();

  &> :where(.block) {
    margin: vars.$margin;
    background: color.side-1();
  }
}

//=====================================================================================
//  Image
//=====================================================================================
.image {
  width: calc(50%);
  visibility: hidden;
  aspect-ratio: 16 / 9;
  margin: vars.$margin auto;


  &[src] {
    animation: fadeIn .5s;
    visibility: visible;
  }
}

//=====================================================================================
//  Code
//=====================================================================================
.code {
  display: block;
  font-size: .8rem;
  white-space: nowrap;
  max-width: 100%;
  word-break: keep-all;
  width: fit-content;
  background: color.bg();
  font-family: monospace;
  margin: vars.$margin auto;
  overflow: auto;
}

.code-inline {
  display: inline-block;
  margin: 0 .2em;
}

//=====================================================================================
//  Button
//=====================================================================================
.button {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .2em .5em;
  margin: vars.$margin auto;
  background: color.side-1();
  transition: background .2s;

  &:hover {
    background: color.bg(.8);
  }
}

.button-group {
  display: flex;
  width: fit-content;
  margin: vars.$margin auto;
  background: color.side-1();

  &>.button {
    box-shadow: none;
    margin: 0;
  }
}

//=====================================================================================
//  Tooltip
//=====================================================================================
.tooltip {
  pointer-events: none;
  user-select: none;
  position: absolute;
  padding: .5rem; 
  
  transition: opacity .2s;
  opacity: 0;
  &.hover {
    opacity: 1;
  }
  
  &Inner {
    background: color.bg();
    word-break: keep-all;
    width: max-content;
    font-size: 1rem;
  }

  &Reference {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
}


//=====================================================================================
//  Shadow
//=====================================================================================
.shadow {
  box-shadow: 0 0 .2em color.black();
}

.shadowMain {
  box-shadow: 0 0 .2em color.main();
}

.textShadow {
  text-shadow: 0 0 .2em color.black();
}

.textShadowMain {
  text-shadow: 0 0 .2em color.main();
}

.dropShadow {
  filter: drop-shadow(0 0 .2em color.black());
}

.dropShadowMain {
  filter: drop-shadow(0 0 .2em color.main());
}
